.account{
    width: 80vw;
    padding:20px 10%;
}
.modalClass{
    width: 50%;
    /* height: 20; */
}
.modalHeading{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
}
.profile{
    /* text-align: center; */
}
.profile>img{
    height: 80px;
    width: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    cursor: pointer;
}

.accountForm{
    display: flex;
}
.left,.right{
    width: 50%;
}
.field{
    padding: 7px 10%;
}
.field>label{
    width: 100%;
    text-decoration: none;
    font-size: 13px;
    text-align: left;
}
.field>input{
    width: 100%;
}
.field>button{
    width: 100%;
}
.resume{
    font: inherit;
    background-color: #77002e;
    color: white;
    padding: 0.3rem 1rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    margin-bottom: 1rem;
}
button:disabled{
    padding: 0.3rem 1rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    margin-bottom: 1rem;

}


.space{
    padding-top: 20px;
    
}

.mode{
    display: inline-block;
    position: absolute;
    right: 13%;
    /* top: 10%; */
}


.inp{
    border-style:ridge;
    border-color:skyblue;
    box-shadow: 0 0 12px skyblue;
}

h6{
    color:#77002e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-top: 10%;
    
}