.myfooter {
    
    background-color:#fffefe;
    color: rgb(141, 17, 17);


    position: fixed; 
    bottom: -1%;
    padding-top:0.5% ;  
    width: 100%;  
    text-align:center; 
    font-weight: bold; 

    
}