.back {
  background-color: #77002e;
}

.logo {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  padding-top: 12px;
  margin-right: 40px;
}

.clglogo {
  width: 41px;
  height: 45px;
}



/* .dropdown-menu[aria-labelledby] {
  background-color: lightblue;
  border-radius: 0;
  margin: 0;
} */



/* CSS used here will be applied after bootstrap.css

.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:10px;
}


.glyphicon-bell {
 
  font-size:1.5rem;
}

.notifications {
 min-width:420px; 
}

.notificationsWrapper {
   overflow:auto;
    max-height:250px;
  }
  
.menuTitle {
   color:#ff7788;
   font-size:1.5rem;
    display:inline-block;
    }

.glyphicon-circle-arrow-right {
    margin-left:10px;     
 }

 
.notificationHeading, .notificationFooter  {
 padding:2px 10px;
     }
    
      
.dropdownMenu.divider {
margin:5px 0;          
}

.itemTitle {

font-size:1.3rem;
color:#000;
  
}

.notifications a.content {
text-decoration:none;
background:#ccc;

}
  
.notificationItem {
padding:10px;
margin:5px;
background:#ccc;
border-radius:4px;
} */




